body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgba(255, 230, 242, 0.158);
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-content > button {
    background: none;
    border: solid 2px rgb(255, 138, 138);
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: large;
    transition: 0.1s;
}

.left-content > button:hover {
    background-color: rgb(255, 138, 138);;
}

.header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: rgb(255, 167, 211);

}

.header > .right-content,
.header > .left-content {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    hyphens: none;    
}

.header > .right-content > img {
    width: 50px;
}

.header > .left-content > ul {
    display: flex;
    list-style: none;
    gap: 80px;
}

.left-content > ul > li {
    color: white;
    background-color: rgb(255, 123, 189);
    padding: 10px;
    cursor: pointer;
    width: 90px;
}

.header > ul {
    padding: 0;
    margin: 0;
}

/* Hero, hero section */

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.container > .hero {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 230, 242);
}

.hero > .right-content > img {
    max-width: 400px;
    margin: 100px;
}

.hero > .left-content {
    margin: 100px;
}

.maintitle {
    font-size: 48px;
}

.secondary-text {
    font-size: 18px;
}

/* Info, info section */

.info {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info > div > h3 {
    font-size: 24pt;
}

.infoblocks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.ul-blocks {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Individual blocks here*/
.block {
    width: 100px;
    height: 100px;
    border: solid blue;
    border-radius: 10px;
}

.blockinfo {
    width: 100px;
    hyphens: auto;
    color: rgb(112, 112, 112);
}

/* Quote Section */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 230, 242);

}

.quote > p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: grey;
    margin: 30px;
    max-width: 400px;
}

/* Call to action section */

.calltoaction {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction > .modal {
    background-color: rgb(44, 94, 255);
    width: 800px;
    height: 140px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    line-height: 7px;
}

.right-content > button {
    background: none;
    font-weight: bold;
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.right-content > button:hover {
    background-color: white;
    color: black;
}

/* Footer section */
footer {
    margin-top: auto;
    background-color: rgb(255, 167, 211);
    display: flex;
    justify-content: center;
}